# Fichiers de configuration sensibles
www/config.json

# Tous les fichiers de cache (u10, u11, u12, u13, etc.)
www/cache_*.json
www/cache*

# Dossiers
www/archives/
docker-compose.yml
www.BCK/
www.BCK.NEW/
# Scripts et logs
*.sh
*.log