{
    "club": {
        "nom_court": "MON CLUB",
        "nom_complet": "Mon Club FC",
        "cl_no": "12345"
    },
    "saison_par_defaut": "2026_2027",
    "saisons": {
        "2026_2027": {
            "u11": {
                "titre": "Classement U11",
                "equipe_cible": "MON CLUB 1",
                "phases": {
                    "1": {
                        "compet_id": "123456",
                        "poule_id": "1",
                        "date_start": "2026-09-01",
                        "date_end": "2026-12-31"
                    },
                    "2": {
                        "compet_id": "123456",
                        "poule_id": "2",
                        "date_start": "2027-01-01",
                        "date_end": "2027-06-30"
                    }
                }
            },
            "u14": {
                "titre": "Calendrier U14",
                "equipe_cible": "MON CLUB 1",
                "mode_calendrier_seul": true,
                "phases": {
                    "1": {
                        "compet_id": "654321",
                        "poule_id": "1",
                        "cl_no": "12345",
                        "date_start": "2026-09-01",
                        "date_end": "2026-12-31"
                    }
                }
            }
        }
    }
}